<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="style/style.css" type="text/css">

</head>

<body>

	<header>
		<img src="images/opengov.png" alt="opengov" class="img-responsive">
	</header>

	<div class="container">
		<nav class="navbar navbar-inverse">
			<div>
				<div>
					<a class="navbar-brand" href="#">TGIF</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home</a></li>
					<li class="active">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 113<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="senate.html">Senate</a></li>
							<li><a href="house.html">House</a></li>
						</ul>
					</li>
					<li>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="senate-attendance.html">Senate</a></li>
							<li><a href="house-attendance.html">House</a></li>
						</ul>
					</li>
					<li>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="senate-loyalty.html">Senate</a></li>
							<li><a href="house-loyalty.html">House</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="mail"><a href="mailto:info@tgif.net" target="_blank" class="glyphicon glyphicon-envelope"> info@tgif.net</a></li>
				</ul>
			</div>
		</nav>
		<!--Table container-->
		<div class="paragraph">
			<h2>Congressmen</h2>
			<p>The major power of the House is to pass federal legislation that affects the entire country, although its bills must also be passed by the Senate and further agreed to by the U.S. President before becoming law (unless both the House and Senate re-pass the legislation with a two-thirds majority in each chamber). The House has some exclusive powers: the power to initiate revenue bills, to impeach officials (impeached officials are subsequently tried in the Senate), and to elect the U.S. President in case there is no majority in the Electoral College.</p>
			<p>Each U.S. state is represented in the House in proportion to its population as measured in the census, but every state is entitled to at least one representative. </p>
		</div>

		<div id="app">

			<div style="margin:0;">
				<div id="loader"></div>
				<div style="display:none;" id="myDiv" class="animate-bottom">


					<div class="row">
						<div class="col-sm-10 left">
							<label>Filter by Party:</label>
							<input type="checkbox" name="party" value="D" id="demo">Democrat
							<input type="checkbox" name="party" value="R" id="rep">Republican
							<input type="checkbox" name="party" value="I" id="ind">Independant
						</div>

						<div class="col-sm-2 right">
							<label>Filter by State:</label>
							<select id="state">
							<option value="all">All</option>
							<option v-for="state in states">{{ state }}</option>
						</select>
						</div>
					</div>

					<div id="content">
						<table class="table table-hover functiona">
							<thead id="thead">
								<tr>
									<th id="name">Name</th>
									<th>Party</th>
									<th>State</th>
									<th>Years in Office</th>
									<th>% Votes w/Party</th>
								</tr>
							</thead>
					
							<tbody id="senate-data">
								<tr v-for="member in members">
									<td id="name"><a v-bind:href="member.url" target="_blank">{{ member.first_name }} {{ member.middle_name }} {{ member.last_name}}</a></td>
									<td>{{ member.party }}</td>
									<td>{{ member.state }}</td>
									<td>{{ member.seniority }}</td>
									<td>{{ member.votes_with_party_pct }}</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>

		<footer class="row">
			<div class="col-sm-10">
				<p class="text-center">&#169; 2016 TGIF | All Rights Reserved</p>
			</div>
			<div class="col-sm-2">
				<p><a href="house.html" class="top">Back to top</a></p>
			</div>
		</footer>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="script.js"></script>

</body>

</html>
